.navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input{
    margin-bottom: 5px;
}

.navbar .buttons{
    padding: 3px 12px;
     display:flex;
     justify-content: space-around;
}
    .section1 p {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        margin: 13px;
    }
